
 /* @import '../components/Logo/styles.less';
 @import '../components/ErrorPage/styles.less';
 @import '../components/Header/styles.less';
 @import '../components/RadioTile/styles.less';
 @import '../pages/tables/members/styles.less';
 @import '../pages/dashboard/styles.less';
 @import '../pages/forms/basic/styles.less';
 @import '../pages/forms/wizard/styles.less';
 @import '../pages/calendar/styles.less'; */

/* rewrite base color */
@base-color: #34c3ff;

body {
  background: #f5f8fa;
}

.text-muted {
  color: @B700;
}

.rs-sidebar {
  position: fixed;
  height: 100vh;
  z-index: 3;
}

.page-container {
  padding-left: 260px;
  transition: padding 0.5s;
  &.container-full {
    padding-left: 60px;
  }
}

.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%);
}

.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
}

.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

.bg-gradient-blue {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

 /* @import '../../styles/color/light.scss'; */
.frame {
    height: 100vh;
    .rs-sidebar {
      background: #fff;
    }
    .rs-sidenav {
      flex: 1 1 auto;
      transition: none !important;
       border-top: 1px solid $B100;
      width: 100%;
    }
  
    .rs-content {
      padding: 0 10px;
  
      .rs-panel-header {
        .title {
          font-size: 18px;
        }
        .rs-breadcrumb {
          margin-bottom: 0;
        }
      }
    }
    .nav-toggle {
       /* border-top: 1px solid $B100; */
    }
  
    .rs-sidenav-item,
    .rs-dropdown-item {
      &.active {
         /* color: $H500 !important; */
      }
      &-icon {
        height: 1.3em !important;
        width: 1.3em !important;
      }
    }
  }
  
  .brand {
    padding: 10px 18px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
  
    a {
      text-decoration: none;
    }
  }

  .headerIcon {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .rsuite-logo {
  .cls-1 {
    fill: #6292f0;
  }
  .cls-2 {
    fill: #ec727d;
  }
  .cls-1,
  .cls-2 {
    fill-rule: evenodd;
  }

  .polyline-limb {
    animation: limbLineMove 3s ease-out 1;
  }
  .polyline-axis {
    animation: axisLineMove 2s ease-out 1;
  }

  .circle {
    animation: circleMove 2s ease-out 1;
  }
}

.logo-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.logo-animated-delay-half-seconds {
  animation-delay: 0.5s;
}

.bounce-in {
  animation-name: logo-bounce-in;
}

@keyframes logo-bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes axisLineMove {
  0% {
    stroke-dasharray: 0, 500;
  }
  100% {
    stroke-dasharray: 500, 500;
  }
}

@keyframes limbLineMove {
  0% {
    stroke-dasharray: 0, 200;
    stroke: transparent;
  }
  50% {
    stroke-dasharray: 0, 200;
  }
  100% {
    stroke-dasharray: 200, 200;
  }
}

@keyframes circleMove {
  0% {
    fill: transparent;
  }
  50% {
    fill: transparent;
  }
}
