// @import "./assets/colors.scss";
//@import 'rsuite/dist/rsuite.min.css';
// @import '~rsuite/styles/index.less';
// @import '/src/components/Frame/styles.scss';
// @import '../components/Logo/styles.scss';
// // @import '../components/ErrorPage/styles.less';
// @import '/src/components/Header/styles.scss';
// // @import '../components/RadioTile/styles.less';
// // @import '../pages/tables/members/styles.less';
// @import '../pages/dashboard/styles.less';
// @import '../pages/forms/basic/styles.less';
// @import '../pages/forms/wizard/styles.less';
// @import '../pages/calendar/styles.less';
@import '../node_modules/rsuite/dist/rsuite.min.css';//'~rsuite/styles/index.less';
// @import 'rsuite/dist/styles/rsuite-default.css';
// @import '../src/components/Frame/styles.scss';
.error {
  background: #ffcbcb;
  color: #af1e1e;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px 0;
}

.aip {
  // overflow: scroll;
  // papaneldding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  // &.teams {
  //   font-family: $ms-font-family-fallbacks;
  // }
  width: 95vw;
  // max-width: 100%;
  // width: 100%;
  // height: 500px;
}
.rs-toggle {
  margin-right: 8px;
}
